/*
Error: Invalid CSS after "$theme-color: blue": expected "{", was ";"
        on line 3 of ./style.scss

1: ---
2: ---
3: $theme-color: blue;
4: $p-margin-style: 60px;
5: 
6: html {
7:   color: red;
8:   background-color: blue;

Backtrace:
./style.scss:3
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1308:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1238:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1233:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:688:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:681:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:707:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:697:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:137:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:414:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:307:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:294:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:109:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:354:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:50:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:18:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$theme-color: blue\": expected \"{\", was \";\"\A         on line 3 of ./style.scss\A \A 1: ---\A 2: ---\A 3: $theme-color: blue;\A 4: $p-margin-style: 60px;\A 5: \A 6: html {\A 7:   color: red;\A 8:   background-color: blue;"; }
