---
---
$theme-color: blue;
$p-margin-style: 60px;

html {
  color: red;
  background-color: blue;
}

header {
  color: $theme-color;
}

footer {
  color: green;
}

button {
  background-color:pink;
}
